#side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 55px;
  height: 100%;
  color: #e1ffff;
}
/*
#side-menu .toggle-btn {
  display: none;
}*/

#map {
  top: 55px;
  bottom: 0px;
  height: 91vh;
  position: absolute;
  right: 0px;
}

body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
