#side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 55px;
  height: 100%;
  color: #e1ffff;
}

#side-menu .toggle-btn {
  display: none;
}

#map {
  top: 55px;
  bottom: 0px;
  height: 91vh;
  position: absolute;
  right: 0px;
}

/*@media (max-width: 767px) {
  #side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

}*/

/*@media (min-width: 767px) {
  #side-menu {
    display: block;
  }

  #map {
    display: absolute;
  }
}*/

body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
