#side-menu {
  position: fixed;
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  top: 55px;
  height: 100%;
  color: #e1ffff;
}

#map {
  position: absolute;
  top: 55px;
  bottom: 0px;
  right: 0px;
  height: 91vh;
}

#places-search {
  width: 74%;
}

#go-places {
  width: 21%;
}

body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
